<!DOCTYPE html>
<html>
  <head>
    <title>left.html</title>
	<link rel="stylesheet" type="text/css" href="zTree/css/zTreeStyle/zTreeStyle.css">
  	<script type="text/javascript" src="zTree/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="zTree/js/jquery.ztree.all.min.js"></script>
  </head>
  
  <body>
    <div>
    <ul id="regionZTree" class="ztree"></ul>
	</div>
  </body>
  <script type="text/javascript">
  var setting={
          data: {
              simpleData: {
                  enable: true,
                  idKey: "btid",//节点id名
                  pIdKey: "parentid",//父节点id名
                  rootPId: 0//默认根节点为0
                  
              },
  			key:{
  				name:"BTName",
  			}
          }
      };
      var zTreeNodes=[];
      $.ajax({
    	  url:"lefttype",
    	  success:function(data){
    		  //zTreeNodes=data; 
    		  $.fn.zTree.init($("#regionZTree"),setting, zNodes);
    	  }
      });
      
  
 
  </script>
</html>
